<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rc.mapper.ScriptMapper">

    <resultMap id="BaseResultMap" type="com.rc.domain.Script">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="environment" column="environment" jdbcType="VARCHAR"/>
            <result property="parameters" column="parameters" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="usageCount" column="usage_count" jdbcType="INTEGER"/>
            <result property="lastUsed" column="last_used" jdbcType="TIMESTAMP"/>
            <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        file_name,file_size,type,
        environment,parameters,content,
        usage_count,last_used,upload_time
    </sql>
</mapper>
